@font-face {
  font-family: 'Roboto_reg';
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto_bold';
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
body, .maininfo .rest-row .rest-maincontent .tabs-row .tab-row .tab-title-header {
  font-family: 'Roboto_reg', sans-serif; }

.maininfo .rest-row .rest-search-secondinfo .star, .maininfo .rest-row .rest-search-header, .maininfo .rest-row .rest-maincontent .tabs-row .tab-row .buy .price {
  font-family: 'Roboto_bold', sans-serif; }

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

button {
  cursor: pointer; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.header {
  padding-top: 44px;
  padding-bottom: 40px;
  background: #FFFFFF; }
  .header-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-row .input-search {
      background: #FFFFFF;
      border: 1px solid #D9D9D9;
      border-radius: 2px;
      font-size: 16px;
      line-height: 24px;
      height: 40px;
      -webkit-box-flex: 0.8;
          -ms-flex: 0.8;
              flex: 0.8;
      background-image: url(../img/home.svg);
      background-repeat: no-repeat;
      background-position: left 11px center;
      padding-left: 35px;
      color: #868585; }
    .header-row .header-right .button-enter {
      position: relative;
      padding: 8px 16px 8px 34px;
      margin-right: 9px;
      background: #1890FF;
      border-radius: 2px;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      border: none; }
      .header-row .header-right .button-enter::before {
        content: '';
        display: block;
        position: absolute;
        background-image: url(../img/user.svg);
        background-position: center;
        width: 16px;
        height: 16px;
        top: 31.5%;
        left: 0;
        margin-left: 14px; }
    .header-row .header-right .button-buys {
      position: relative;
      padding: 8px 16px 8px 34px;
      background: #FFFFFF;
      border: 1px solid #D9D9D9;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
              box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
      border-radius: 2px;
      font-size: 16px;
      line-height: 24px;
      color: #595959; }
      .header-row .header-right .button-buys::before {
        content: '';
        display: block;
        position: absolute;
        background-image: url(../img/shopping-cart.svg);
        background-position: center;
        width: 16px;
        height: 16px;
        top: 33%;
        left: 0;
        margin-left: 14px; }

.maininfo {
  background-color: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%); }
  .maininfo .underheader {
    margin-bottom: 56px; }
    .maininfo .underheader-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .maininfo .rest-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .maininfo .rest-row .rest-search {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-bottom: 44px; }
      .maininfo .rest-row .rest-search-secondinfo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .maininfo .rest-row .rest-search-secondinfo .star {
          position: relative;
          font-size: 18px;
          line-height: 32px;
          color: #FFC107;
          margin-left: 18px; }
          .maininfo .rest-row .rest-search-secondinfo .star::before {
            content: '';
            display: block;
            position: absolute;
            width: 15px;
            height: 15px;
            background-image: url(../img/star.svg);
            top: 25%;
            left: -18px; }
        .maininfo .rest-row .rest-search-secondinfo .price {
          margin-left: 26px;
          font-size: 18px;
          line-height: 32px;
          color: #8C8C8C;
          margin-right: 25px; }
        .maininfo .rest-row .rest-search-secondinfo .category {
          position: relative;
          font-size: 18px;
          line-height: 32px;
          color: #8C8C8C; }
          .maininfo .rest-row .rest-search-secondinfo .category::before {
            content: '';
            display: block;
            position: absolute;
            width: 5px;
            height: 5px;
            background: #8C8C8C;
            border-radius: 50%;
            top: 45%;
            left: -15px; }
      .maininfo .rest-row .rest-search-header {
        font-size: 36px;
        line-height: 42px;
        color: #000000;
        margin-right: 30px; }
    .maininfo .rest-row .rest-maincontent .tabs-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .maininfo .rest-row .rest-maincontent .tabs-row .tab {
        margin-bottom: 25px;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 7px;
        overflow: hidden;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%; }
        .maininfo .rest-row .rest-maincontent .tabs-row .tab-row {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .maininfo .rest-row .rest-maincontent .tabs-row .tab-row .tab-img {
            border-radius: 7px 7px 0px 0px;
            width: 384px;
            height: 250px;
            -o-object-fit: cover;
               object-fit: cover; }
          .maininfo .rest-row .rest-maincontent .tabs-row .tab-row .tab-title {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
            .maininfo .rest-row .rest-maincontent .tabs-row .tab-row .tab-title-header {
              font-size: 24px;
              line-height: 32px;
              color: #000000; }
          .maininfo .rest-row .rest-maincontent .tabs-row .tab-row .secondinfo-text {
            font-size: 18px;
            line-height: 21px;
            color: #8C8C8C; }
          .maininfo .rest-row .rest-maincontent .tabs-row .tab-row .buy {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-top: -25px;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
            .maininfo .rest-row .rest-maincontent .tabs-row .tab-row .buy .buttonbuy {
              border: none;
              margin-right: 55px;
              background: #1890FF;
              border-radius: 2px;
              padding: 8px 30px 8px 16px; }
              .maininfo .rest-row .rest-maincontent .tabs-row .tab-row .buy .buttonbuy-text {
                display: inline;
                position: relative;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF; }
                .maininfo .rest-row .rest-maincontent .tabs-row .tab-row .buy .buttonbuy-text::after {
                  content: '';
                  display: block;
                  position: absolute;
                  background-image: url(../img/buyicon.svg);
                  width: 16px;
                  height: 24px;
                  top: -15%;
                  right: -23px; }
            .maininfo .rest-row .rest-maincontent .tabs-row .tab-row .buy .price {
              font-size: 18px;
              line-height: 32px;
              color: #000000; }

.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background: #FFFFFF; }
  .footer-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer-row .block-left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer-row .block-left .footer-logo {
        margin-right: 36px; }
      .footer-row .block-left .footer-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .footer-row .block-left .footer-info-text {
          text-decoration: none;
          font-size: 18px;
          line-height: 21px;
          color: #595959; }
          .footer-row .block-left .footer-info-text:not(:last-child) {
            margin-right: 15px; }
    .footer-row .block-right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer-row .block-right .intlogo:not(:first-child) {
        margin-left: 21px; }

@media (max-width: 1366px) {
  .container {
    max-width: 960px; } }
@media (max-width: 1066px) {
  .maininfo .underheader {
    display: none; } }
@media (max-width: 992px) {
  .container {
    max-width: 750px; }

  .maininfo .rest-row .rest-maincontent .tabs-row .tab {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); }

  .footer .footer-row .block-left .footer-info-text {
    font-size: 16px; } }
@media (max-width: 768px) {
  .container {
    max-width: 560px; }

  .footer .footer-row .block-left .footer-logo {
    margin-right: 10px; }

  .footer .footer-row .block-right .intlogo:not(:first-child) {
    margin-left: 5px; }

  .footer .footer-row .block-left .footer-info-text {
    font-size: 13px; } }
@media (max-width: 578px) {
  .container {
    max-width: 90%; }

  .header .header-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .header .header-row .input-search {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      margin-top: 10px;
      -webkit-box-ordinal-group: 6;
          -ms-flex-order: 5;
              order: 5; }

  .maininfo .rest-row .rest-search-header {
    font-size: 26px; }

  .maininfo .rest-row .rest-maincontent .tabs-row .tab {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }

  .maininfo .rest-row .rest-maincontent .tabs-row .tab-row .tab-img {
    width: 100%; }

  .footer {
    padding-top: 15px; }

  .footer .footer-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .footer .footer-row .block-left .footer-info-text {
    margin-bottom: 5px; } }
@media (max-width: 480px) {
  .maininfo .rest .rest-row .rest-search-header {
    font-size: 20px; }

  .maininfo .rest .rest-row .rest-search {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }
@media (max-width: 400px) {
  .footer .footer-row .block-left .footer-logo {
    display: none; }

  .footer .footer-row .block-left .footer-info-text {
    font-size: 12px;
    margin-bottom: 5px; } }
@media (max-width: 370px) {
  .header .header-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }
